{% extends 'base2.html.twig' %} {% block body %}

<div class="registration">
  <h3>Vous aver oublié votre mot de passe?</h3>
  <br />
  <br />
  {% if error %}
   <h6 id="vp">  {{ error }}</h6> 
  {% else %}
  <h6 id="vp">
    Entrer votre adresse email
  </h6>
  {% endif %}
  {{ form_start(form) }}
  <div class="registrationForm">
    <div class="row">
      {{ form_row(form.email, {'label':'Votre email','attr':{'placeholder':'Enter les 6 digits envoyé sur votre boite email', 'class':'champText'
      }}) }}
    </div>

    <button type="submit" class="btn_success">Envoyer email</button>
  </div>
  <br />
  <br />
  {{ form_end(form) }}


</div>

{% endblock %}
