{% extends 'error/errorBase.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div  id="erroContainer">
   <div  id='errorMessage'>
    <div  id='oops'>
     <h2>Ooops<i class="fa fa-exclamation-triangle"></i></h2>
  </div>
       <h1>Page non trouvée</h1>

        <p>
            La page que vous demandez n'a pas été trouvée.
        </p>
         <p>
              Code de l'érreur {{status_code}}
            </p>
        </div>
     </div>
  </div>
    
{% endblock %}
{% block javascripts %}
		<script src="{{asset('js/subscribers-ajax.js')}}"></script>
	{% endblock %}
